body {
    background-color:#D2B48C; /* gray color */
}


/* <style type="text/css">
        .auto-style1 {
            width: 100%;
        }


    id="header"><h3>Wicked Easy Recipes</h3></td>
            </tr>
            <tr>
                <td><p id="2ndHeader">Using 5 Ingredients or Less!</p></td>


    </style> */

#header {
    text-align:center;
    background-color:#696969; /* tan color */
    color: white;
}


#head2 {
    height:50px;
    text-align:center;
    background-color:#FFFF99; /* tan */
    font-size: 23px;
    color: #696969;
}

/*------------------------------------------------ HomePage Main Table --------------------------------------*/
.auto-style1 {
    background-color:#D2B48C;
    width: 75%;
    border:solid 1px;
    border-color:white;
    margin-left:auto;
    margin-right:auto;
        }   

.nav{
    border:solid 1px;
    border-color: #ffcc00;
    border-width:1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
    font-size: 22px;  
    font-family:Arial,Tahoma;
}
.nav li{
    display:inline;
    border-right: solid 2px #555; 

}

.last_li {
    border-right: none !important;
}

.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none; 
    color: white;    
    width: 170px;;
}
.nav a:hover{ color:#284875; }  

.nav a:active { color: white; }

/*---------- Navigation Bar ---------*/
#nav_cell {
    background-color:#F08080;
}

/*---------------- Footer -----------*/
#footer {
    text-align:center;
    background-color:#696969; /* tan color */
    height: 50px;
}

.bot {
    background-color: #E53465;  /* red */
    padding: 50px 80px;
}


/*----------------------------------------------  Home page GridView  ---------------------------*/
.Default_Gridview {
    background-color:#F08080;  /* #FFFF99 This is a yellow color */      
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height: 200px ;
    width: 600px;
    color: white;
    border-color: white;
    

    
}

/*------GridView Header-------*/

.Default_Gridview th {
        background-color:#FFFF99; /* gray color */
        height: 40px;
        color:#696969;
    }



.Default_Gridview a:link {
        text-decoration:none;
        color: #696969;

    }


/*----------------------  Recipe_Main Page DetailsView  ---------------------------*/
.Default_Detailsview {
    background-color:#F08080;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height: 80px;
    width: 600px;
    color: white;
}

/*--------------- DetailsView header size ------------*/
.header_style {
    width: 20%;
    height: 40px;
    background-color: #FFFF99;
    font-weight: bold;
    color: #696969;
}


/*-------------- DetailsView Command Field -----------*/
.comd_dView {
    background-color:#D2B48C;
    border: none;
    border-color: #D2B48C;
    height:80px;
}


.Contact_tbl {
            width: 50%;
            margin-left:80px;

        }
#snd_cell {
    text-align:center;
    
    
}